@tailwind base;
@tailwind components;
@tailwind utilities;

#playGrid{
        display: grid;
        grid-template-columns: 50px 450px;
        grid-template-rows: 50px 450px;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
}
#colHints{
        grid-row: 1;
        grid-column: 2;
        display: flex;border: solid black;
        
}
#rowHints{
        grid-row:2;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        border: solid black;
}
#rowHints div{
        flex-grow: 1;
        margin: auto;
        user-select: none;

}
#colHints div{
        flex-grow: 1;
        margin: auto;
        user-select: none;
}

#playTable{
        grid-row: 2;
        grid-column: 2;
        display: flex;
        flex-wrap: wrap;
}
.block{
        width: 90px;
        height: 90px;
        cursor: pointer;       
        border: solid black ;
 
}